<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="pagedSPName" value="P_GetPagedOrders2005" />
    <add key="ConnectionString" value="Data Source= 10.112.0.139; Initial Catalog=100;User ID=demo;Password=livecom2016"/>
  </appSettings>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=10.112.0.139;User ID=demo;Password=livecom2016" providerName="System.Data.SqlClient" />

    <add name="SqlConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|NorthWnd.mdf;Initial Catalog=NorthWnd;Integrated Security=True" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
